<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="container-fluid">
        <div class="row " id="identifier">
            <p>Hola {{nombre}}</p>
        </div>
        <div class="row" id="form">
            <form method="POST" id="formulario">
                {% csrf_token %}
                <select select class="form-select" aria-label="Selecciona el mes para filtrar" id="mesSelect" name="mes">
                    <option value="all" {% if mes_selec == "all" %}selected{% endif %}>Todos</option>
                    <option value="ENERO" {% if mes_selec == "ENERO" %}selected{% endif %}>Enero</option>
                    <option value="FEBRERO" {% if mes_selec == "FEBRERO" %}selected{% endif %}>Febrero</option>
                    <option value="MARZO" {% if mes_selec == "MARZO" %}selected{% endif %}>Marzo</option>
                    <option value="ABRIL" {% if mes_selec == "ABRIL" %}selected{% endif %}>Abril</option>
                    <option value="MAYO" {% if mes_selec == "MAYO" %}selected{% endif %}>Mayo</option>
                    <option value="JUNIO" {% if mes_selec == "JUNIO" %}selected{% endif %}>Junio</option>
                    <option value="JULIO" {% if mes_selec == "JULIO" %}selected{% endif %}>Julio</option>
                    <option value="AGOSTO" {% if mes_selec == "AGOSTO" %}selected{% endif %}>Agosto</option>
                    <option value="SEPTIEMBRE" {% if mes_selec == "SEPTIEMBRE" %}selected{% endif %}>Septiembre</option>
                    <option value="OCTUBRE" {% if mes_selec == "OCTUBRE" %}selected{% endif %}>Octubre</option>
                    <option value="NOVIEMBRE" {% if mes_selec == "NOVIEMBRE" %}selected{% endif %}>Noviembre</option>
                    <option value="DICIEMBRE" {% if mes_selec == "DICIEMBRE" %}selected{% endif %}>Diciembre</option>
                </select>
                <select class="form-select" aria-label="Selecciona el barrio para filtrar" id="barrioSelect" name="barrio">
                    <option value="all">Todos los barrios</option>
                    {% for barrio in barrios %}
                        <option value="{{ barrio.id }}" {% if barrio.id == barrio_selec %}selected{% endif %}>{{ barrio.nombre }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-success">Filtrar</button>
            </form>
        </div>
        <!-- <div class="row" id="form">
            <p>Filtrar por barrio:</p>
            <form method="POST" id="formulario">
                {% csrf_token %}
                
                <button type="submit" class="btn btn-success">Filtrar</button>
            </form>
        </div> -->
        <div class="row">
            <div class="col-md-6">
                {% if mihtml %}
                {{ mihtml|safe }}
                <div id="plotly-graph"></div>
                {% endif %}
            </div>
            <div class="col-md-6">
                <table class="table table-bordered table-striped">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th>ID</th>
                            <th>Cantidad</th>
                            <th>Barrio</th>
                            <th>Mes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in data %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.cantidad }}</td>
                            <td>{{ item.barrio }}</td>
                            <td>{{ item.mes }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>