<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand ps-3" href="/">Dashboard</a>
    </nav>
    
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <div class="row" id="rowcolumn">
                        <form method="POST" id="formulario">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 mb-1">
                                    <select select class="form-select mb-1" aria-label="Selecciona el mes para filtrar" id="mesSelect" name="mes">
                                        <option value="all" {% if mes_selec == "all" %}selected{% endif %}>Todos</option>
                                        <option value="ENERO" {% if mes_selec == "ENERO" %}selected{% endif %}>Enero</option>
                                        <option value="FEBRERO" {% if mes_selec == "FEBRERO" %}selected{% endif %}>Febrero</option>
                                        <option value="MARZO" {% if mes_selec == "MARZO" %}selected{% endif %}>Marzo</option>
                                        <option value="ABRIL" {% if mes_selec == "ABRIL" %}selected{% endif %}>Abril</option>
                                        <option value="MAYO" {% if mes_selec == "MAYO" %}selected{% endif %}>Mayo</option>
                                        <option value="JUNIO" {% if mes_selec == "JUNIO" %}selected{% endif %}>Junio</option>
                                        <option value="JULIO" {% if mes_selec == "JULIO" %}selected{% endif %}>Julio</option>
                                        <option value="AGOSTO" {% if mes_selec == "AGOSTO" %}selected{% endif %}>Agosto</option>
                                        <option value="SEPTIEMBRE" {% if mes_selec == "SEPTIEMBRE" %}selected{% endif %}>Septiembre</option>
                                        <option value="OCTUBRE" {% if mes_selec == "OCTUBRE" %}selected{% endif %}>Octubre</option>
                                        <option value="NOVIEMBRE" {% if mes_selec == "NOVIEMBRE" %}selected{% endif %}>Noviembre</option>
                                        <option value="DICIEMBRE" {% if mes_selec == "DICIEMBRE" %}selected{% endif %}>Diciembre</option>
                                    </select>
                                </div>
                                <div class="col-md-6 mb-1">
                                    <select class="form-select mb-1" aria-label="Selecciona el barrio para filtrar" id="barrioSelect" name="barrio">
                                        <option value="all">Todos los barrios</option>
                                        {% for barrio in barrios %}
                                            <option value="{{ barrio.id }}" {% if barrio.id == barrio_selec %}selected{% endif %}>{{ barrio.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center mb-2">
                                    <button type="submit" class="btn btn-success">Filtrar</button>
                                </div>
                            </div>
                        </form>                        
                    </div>
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-chart-area me-1"></i>
                                    Grafica de ventas
                                </div>
                                <div class="card-body">
                                    {% if mihtml %}
                                    {{ mihtml|safe }}
                                    <div id="plotly-graph"></div>
                                {% else %}
                                {% load static%}
                                    <img src="{% static 'nofound.png' %}" alt="No Data Found" id="image">
                                {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-chart-bar me-1"></i>
                                    Grafica de disperción de ventas
                                </div>
                                <div class="card-body"> 
                                    {% if mihtml2 %}
                                    {{ mihtml2|safe }}
                                    <div id="plotly-graph"></div>
                                {% else %}
                                {% load static%}
                                    <img src="{% static 'nofound.png' %}" alt="No Data Found" id="image">
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-chart-area me-1"></i>
                                    Grafica de lineas
                                </div>
                                <div class="card-body">
                                    {% if mihtml3 %}
                                    {{ mihtml3|safe }}
                                    <div id="plotly-graph"></div>
                                {% else %}
                                {% load static%}
                                    <img src="{% static 'nofound.png' %}" alt="No Data Found" id="image">
                                {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-chart-bar me-1"></i>
                                    Grafica de embudo
                                </div>
                                <div class="card-body"> 
                                    {% if mihtml4 %}
                                    {{ mihtml4|safe }}
                                    <div id="plotly-graph"></div>
                                {% else %}
                                {% load static%}
                                    <img src="{% static 'nofound.png' %}" alt="No Data Found" id="image">
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            Datos completos
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered table-striped">
                                <thead class="bg-dark text-white">
                                    <tr>
                                        <th>ID</th>
                                        <th>Cantidad</th>
                                        <th>Barrio</th>
                                        <th>Mes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in data %}
                                    <tr>
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.cantidad }}</td>
                                        <td>{{ item.barrio }}</td>
                                        <td>{{ item.mes }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Plotly &copy; Pandas</div>
                    </div>
                </div>
            </footer>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
</body>
</html>